@model List<Device>

@{
    ViewData["Title"] = "View";
}

@{
    //TODO: Import Button
}

<div>
    @if (Model.Count > 0)
    {
        foreach (var device in Model)
        {
            // TODO: Click
            <div class="card" style="width: 18rem; float: left; margin: 5px;">
                <div class="card-body">
                    <h4>@device.name</h4>
                    <p>Device Typ ID: @device.deviceTypeId</p>
                    <p>Failsafe: @Html.Raw(AdditionalHtmlHelper.BoolToIcon(device.failsafe))</p>
                    @{
                        // TODO: Lösch Button
                        // <i class="fa-solid fa-trash"></i>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p>Keine Geräte vorhanten.</p>
    }
</div>
